body {
    background-image: url('mountains.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-form {
    display: flex;
    flex-flow: column nowrap;
    color: white;
}

.username-field {
    border: 1px solid white;
}

.email-field {
    display: flex;
    flex-flow: column nowrap;
}

.password-field {
    display: flex;
    flex-flow: column nowrap;
}

.terms-field {
    color: tan;
}